debian/opendias.debhelper.log
debian/opendias.substvars
debian/opendias/
debian/install/
debian/files
opendias
opendias-*.rpm
opendias_*.dsc
opendias_*.tar.gz
opendias_*.build
opendias_*.changes
opendias_*.deb
