Source: clearscene-opendias
Section: clearscene
Priority: extra
Maintainer: Wayne Booth <wbooth@clearscene.net>
Build-Depends: debhelper (>= 7), pkg-config
Standards-Version: 3.8.0
Homepage: http://opendias.essentialcollections.co.uk/

Package: clearscene-opendias
Architecture: any
Depends: libc6, libsqlite3-0, libsane, libmicrohttpd5, uuid-runtime, libleptonica, libpoppler-cpp0, libtesseract3, tesseract-ocr-eng, libxml2, libzzip-0-13
Description: Document Imaging Archive System (openDIAS).
 Home document imaging, with OCR. Scan documents (with SANE) or import ODF documents, assign tags. Use openDIAS to store all our letters, bills, statements, etc in a convenient, safe and easily retrievable way.
