#!/bin/bash

TMP=redhat/opendias

cp redhat/copyright ${TMP}/usr/share/doc/opendias/
gzip -c opendias/ChangeLog > ${TMP}/usr/share/doc/opendias/changelog.gz

#
# *** Updating this, then also update debian/rules *** 
#
cp etc/opendias.service ${TMP}/usr/lib/systemd/system/opendias.service
cp conf/opendias.conf ${TMP}/etc/opendias/opendias.conf
cp opendias/src/opendias ${TMP}/usr/bin/opendias
cp opendias/src/opendiasconfig ${TMP}/usr/bin/opendiasconfig
cp opendias/webcontent ${TMP}/usr/share/opendias/ -r
cp opendias/sql/*.sql ${TMP}/usr/share/opendias/

